<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Document</title>
</head>
<body>
  <style>

 #id_patient_id{
   width:100px;
 }
 #id_dov{
   width:120px;
 }
 #id_date_for_revisit{
    width:120px;
 }

  </style>


  <h1 style="text-align:center;font-weight:bolder;font-family: 'Courier New', Courier, monospace;font-size:70px">New Prescription</h1><br>
  <a href="{% url 'files' record.pk %}"> <button style="margin-left:10px;border-radius:6px;">All prescriptions</button></a>
  <a href="{% url 'front' %}"> <button style="margin-left:10px;border-radius:6px;width:80px">Home</button></a>





  <form method="POST">
    {% csrf_token %}

    <table class="table table-striped">
    <thead>
      <tr>

        <th scope="col">Date of visiting</th>
        <th scope="col">Symptoms</th>
        <th scope="col">Drugs</th>
        <th scope="col">Dosage</th>
        <th scope="col">Test to be done</th>
        <th scope="col">Date for revisit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>{{form.dov}}</td>
        <td>{{form.symptoms_p}}</td>
        <td>{{form.drugs_p}}</td>
        <td>{{form.dosage_p}}</td>
        <td>{{form.tests_to_be_done_p}}</td>
        <td>{{form.date_for_revisit}}</td>
      </tr>

    </tbody>
  </table>
  <br>
  <input type="submit" value="Prescription Done" style="margin-left:700px;font-size:20px;border-radius:6px;">


    <!-- Patient No: {{form.patient_id}}<br>
    Date of visiting: {{form.dov}}<br>
    Symptoms: {{form.symptoms_p}}<br>
    Drugs: {{form.drugs_p}}<br>
    Dosage: {{form.dosage_p}}<br>
    Test to be done: {{form.tests_to_be_done_p}}<br>
    Date for revisit: {{form.date_for_revisit}}<br>
    <input type="submit"> -->
  </form>

</body>
</html>
